/*TAGS*/
p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-color: #000;
}

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
}

header{
    background-color: tomato;
    height: 150px;
    padding: 10px;
}

footer{
    background-color: tomato;
    clear: both;
    height: 50px;
    text-align: center;
    padding: 30px;
}

h1{
    color: white;
    text-align: center;
    margin: 0 0 100px 0;
}

/*DIV*/

#principal{
    background-image: url('C:/Users/bruno/OneDrive/Área de Trabalho/brunopds/Udemy - Web Design/Web-Design-CSS-JavaScript-HTML-PHP/css/wallpaper.jpg');
    background-size: 100%;
    min-height: 600px;
    padding: 100px 0 0 0;
}

/*CLASS*/

.container{
    width: 960px;
    margin:0 auto;
}