/*TAGS*/
p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #111111;
}

body{
    background-color: #000;
}

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
}

header{
    background-color: tomato;
    height: 110px;
    padding: 10px 0 0 0;
}

footer{
    background-color: tomato;
    clear: both;
    height: 50px;
    text-align: center;
    padding: 30px;
    text-shadow: 1px 1px 1px #111111;
    font-size: 12px;
}

h1{
    color: tomato;
    text-shadow: 1px 1px 1px #111111;
    text-align: center;
    margin: 0 0 50px 0;
}

/*ID's*/

#principal{
    background-image: url('C:/Users/bruno/OneDrive/Área de Trabalho/brunopds/Udemy - Web Design/Web-Design-CSS-JavaScript-HTML-PHP/css/wallpaper.jpg');
    background-size: 100%;
    min-height: 400px;
    padding: 40px 0 0 0;
    clear: both;
}

#logo{
    float: left;
    margin-bottom: auto;
}

#menu{
    float: right;
    margin-top: 45px;
}

#menu a{
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px #111111;
    padding: 55px 25px 50px 25px;
}

#menu a:hover{
    background-color: #111111;
    color: tomato;
}

/*CLASS*/

.container{
    width: 960px;
    margin:0 auto;
}

.efeito{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px 0 100px 0;
}